body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: blue;
}

label {
    display: flex;
    justify-content: space-between;
}

input {
    margin-left: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}

button {
    padding: 0.2rem 2rem;
    align-self: center;
    margin-top: 1rem;
}
