<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>drivers</servlet-name>
        <servlet-class>mate.controller.GetAllDriversController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>drivers</servlet-name>
        <url-pattern>/drivers/all</url-pattern>
        <url-pattern>/drivers/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>create_driver</servlet-name>
        <servlet-class>mate.controller.CreateNewDriverController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_driver</servlet-name>
        <url-pattern>/drivers/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>manufacturers</servlet-name>
        <servlet-class>mate.controller.GetAllManufacturersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manufacturers</servlet-name>
        <url-pattern>/manufacturers/all</url-pattern>
        <url-pattern>/manufacturers/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>create_manufacturer</servlet-name>
        <servlet-class>mate.controller.CreateNewManufacturerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_manufacturer</servlet-name>
        <url-pattern>/manufacturers/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cars</servlet-name>
        <servlet-class>mate.controller.GetAllCarsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cars</servlet-name>
        <url-pattern>/cars/all</url-pattern>
        <url-pattern>/cars/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>create_car</servlet-name>
        <servlet-class>mate.controller.CreateNewCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_car</servlet-name>
        <url-pattern>/cars/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>add_driver_to_car</servlet-name>
        <servlet-class>mate.controller.AddDriverToCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_driver_to_car</servlet-name>
        <url-pattern>/cars_drivers/add_driver_to_car</url-pattern>
    </servlet-mapping>
</web-app>
