<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>chooseOptionController</servlet-name>
        <servlet-class>mate.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chooseOptionController</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registrationDriverController</servlet-name>
        <servlet-class>mate.controller.CreateDriverController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationDriverController</servlet-name>
        <url-pattern>/drivers/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllDriversController</servlet-name>
        <servlet-class>mate.controller.GetAllDriversController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllDriversController</servlet-name>
        <url-pattern>/drivers/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteDriversController</servlet-name>
        <servlet-class>mate.controller.DeleteDriverController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteDriversController</servlet-name>
        <url-pattern>/drivers/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registrationManufacturerController</servlet-name>
        <servlet-class>mate.controller.CreateManufacturerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationManufacturerController</servlet-name>
        <url-pattern>/manufacturers/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registrationCarController</servlet-name>
        <servlet-class>mate.controller.CreateCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationCarController</servlet-name>
        <url-pattern>/cars/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addDriverToCarController</servlet-name>
        <servlet-class>mate.controller.AddDriverToCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addDriverToCarController</servlet-name>
        <url-pattern>/cars/drivers/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllManufacturersController</servlet-name>
        <servlet-class>mate.controller.GetAllManufacturersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllManufacturersController</servlet-name>
        <url-pattern>/manufacturers/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteManufacturersController</servlet-name>
        <servlet-class>mate.controller.DeleteManufacturerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteManufacturersController</servlet-name>
        <url-pattern>/manufacturers/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllCarsController</servlet-name>
        <servlet-class>mate.controller.GetAllCarsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllCarsController</servlet-name>
        <url-pattern>/cars/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteCarController</servlet-name>
        <servlet-class>mate.controller.DeleteCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteCarController</servlet-name>
        <url-pattern>/cars/delete</url-pattern>
    </servlet-mapping>
</web-app>
